#!/usr/bin/make -f

override_dh_auto_build:

override_dh_auto_install:
	python3  setup.py install --no-compile --install-layout=deb --root=$(shell pwd)/debian/tmp

override_dh_auto_clean:
	python3  setup.py clean
	rm -rf iintgui.egg-info
	rm -rf build
 

%:
	dh $@ --with python3
